<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>Total</display-name>
  
  <welcome-file-list>
  <welcome-file>home.html</welcome-file>
  </welcome-file-list>
  
  <servlet>
  <servlet-name>first</servlet-name>
  <servlet-class>com.server.First_server</servlet-class>
  </servlet>
  
  <servlet>
  <servlet-name>second</servlet-name>
  <servlet-class>com.server.Second</servlet-class>
  </servlet>
  
  <servlet>
  <servlet-name>third</servlet-name>
  <servlet-class>com.server.Third</servlet-class>
  </servlet>
  
  <servlet>
  <servlet-name>Form</servlet-name>
  <servlet-class>com.server.Form_Data</servlet-class>
  </servlet>
  
  <servlet>
  <servlet-name>sum</servlet-name>
  <servlet-class>com.server.Sum</servlet-class>
  </servlet>
  
  <servlet>
  <servlet-name>minus</servlet-name>
  <servlet-class>com.server.Mrinus</servlet-class>
  </servlet>
  
  <servlet>
  <servlet-name>s1</servlet-name>
  <servlet-class>com.server.Name1</servlet-class>
  </servlet>
  
  <servlet>
  <servlet-name>s2</servlet-name>
  <servlet-class>com.server.Name2</servlet-class>
  </servlet>
  
  <servlet>
  <servlet-name>Server1</servlet-name>
  <servlet-class>com.server.Url1</servlet-class>
  </servlet>
  
  <servlet>
  <servlet-name>Server2</servlet-name>
  <servlet-class>com.server.Url2</servlet-class>
  </servlet>
  
  <servlet>
  <servlet-name>Hide</servlet-name>
  <servlet-class>com.server.Hide1</servlet-class>
  </servlet>
  
   <servlet>
  <servlet-name>Show</servlet-name>
  <servlet-class>com.server.Show1</servlet-class>
  </servlet>
  
  <servlet>
  <servlet-name>Sion_</servlet-name>
  <servlet-class>com.server.Session1</servlet-class>
  </servlet>
  
  <servlet>
  <servlet-name>Sion_1</servlet-name>
  <servlet-class>com.server.Session2</servlet-class>
  </servlet>
  
  <servlet-mapping>
  <servlet-name>first</servlet-name>
  <url-pattern>/imp</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
  <servlet-name>second</servlet-name>
  <url-pattern>/ext_</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
  <servlet-name>third</servlet-name>
  <url-pattern>/get_</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
  <servlet-name>Form</servlet-name>
  <url-pattern>/Save</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
  <servlet-name>sum</servlet-name>
  <url-pattern>/sum</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
  <servlet-name>minus</servlet-name>
  <url-pattern>/minus</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>token</servlet-name>
  </servlet>

  
  
  <servlet-mapping>
  <servlet-name>s2</servlet-name>
  <url-pattern>/s2</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
  <servlet-name>Server1</servlet-name>
  <url-pattern>/Server1</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
  <servlet-name>Server2</servlet-name>
  <url-pattern>/Server2</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
  <servlet-name>Hide</servlet-name>
  <url-pattern>/Hide</url-pattern>
  </servlet-mapping>
  
   <servlet-mapping>
  <servlet-name>Show</servlet-name>
  <url-pattern>/Show</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
  <servlet-name>Sion_</servlet-name>
  <url-pattern>/Session</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
  <servlet-name>Sion_1</servlet-name>
  <url-pattern>/Session2</url-pattern>
  </servlet-mapping>
</web-app>