<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>BASE_SERVER_</display-name>
  
  
  <servlet>
  <servlet-name>sum_default</servlet-name>
  <servlet-class>server.Sum_default</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>sum_default</servlet-name>
  <url-pattern>/sumdefault_</url-pattern>
  </servlet-mapping>
  
  
   <servlet>
  <servlet-name>sum_post</servlet-name>
  <servlet-class>server.Sum_post</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>sum_post</servlet-name>
  <url-pattern>/sumpost_</url-pattern>
  </servlet-mapping>
  
  
  <servlet>
  <servlet-name>sum_get</servlet-name>
  <servlet-class>server.Sum_get</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>sum_get</servlet-name>
  <url-pattern>/sumget_</url-pattern>
  </servlet-mapping>

  
  <servlet>
  <servlet-name>option_</servlet-name>
  <servlet-class>server.Sum_Option</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>option_</servlet-name>
  <url-pattern>/option</url-pattern>
  </servlet-mapping>


  <servlet>
  <servlet-name>redirect</servlet-name>
  <servlet-class>server.Sum_Redirect</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>redirect</servlet-name>
  <url-pattern>/redirect</url-pattern>
  </servlet-mapping>
  
  
   <servlet>
   <servlet-name>URL</servlet-name>
   <servlet-class>server.Sum_Url</servlet-class>
   </servlet>
   <servlet-mapping>
   <servlet-name>URL</servlet-name>
   <url-pattern>/url_</url-pattern>
   </servlet-mapping>
   
   <servlet>
   <servlet-name>Session</servlet-name>
   <servlet-class>server.Sum_Session</servlet-class>
   </servlet>
   <servlet-mapping>
   <servlet-name>Session</servlet-name>
   <url-pattern>/Session_</url-pattern>
   </servlet-mapping>
   
   
   <servlet>
   <servlet-name>Cookies</servlet-name>
   <servlet-class>server.Sum_Cookies</servlet-class>
   </servlet>
   <servlet-mapping>
   <servlet-name>Cookies</servlet-name>
   <url-pattern>/Cookies_</url-pattern>
   </servlet-mapping>
   
   
   <servlet>
   <servlet-name>CONTEXT_</servlet-name>
   <servlet-class>server.Context_server</servlet-class>
   <init-param>
   <param-name>NAME</param-name>
   <param-value>CONFIG SERVER</param-value>
   </init-param>
   </servlet>
   <servlet-mapping>
   <servlet-name>CONTEXT_</servlet-name>
   <url-pattern>/config_context</url-pattern>
   </servlet-mapping>
   
   
   <context-param>
   <param-name>NAME</param-name>
   <param-value>CONTEXT SERVER</param-value>
   </context-param>
   
</web-app>